@section Styles {
    <link rel="stylesheet" href="~/Content/style.css" />
}

@{
    ViewBag.BodyClass = "weather-station";
}

@model VKR.Models.ViewModels.DataVM
@{
    ViewBag.Title = "Главная страница";
}

<h2 class="subname">Данные погодной станции</h2>



<div id="dataContainer">
    @Html.Partial("LatestData", Model)
</div>

<script>
    // Обновляем данные раз в минуту
    setInterval(function () {
        $.get('@Url.Action("GetLatestData", "Read")', function (data) {
            $('#dataContainer').html(data);
        });
    }, 60000); // 60 000 мс = 1 минута
</script>

@if (User.IsInRole("ADMINISTRATOR"))
{
    @Html.Action("ListOfNumbers")
}